Source: zotonic
Section: erlang
Priority: optional
Maintainer: Arjan Scherpenisse <arjan@scherpenisse.net>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.9.2
Homepage: http://zotonic.com/

Package: zotonic
Architecture: all
Depends: ${misc:Depends}, imagemagick, erlang, postgresql-8.4
Description: The Erlang CMS
 This package contains Zotonic, an erlang-based web development
 framework and content management system.
